body
{
    font-family: "Adobe Myungjo Std M";
    font-family: 'Oxygen', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
}
.right
{
    float: right;
}
.left
{
    float: left;
}
.navegacion
{
    background: rgb(153, 51, 255);
    padding: 40px 70px;
    border-style: solid;
}

header
{
    height: 100px;
    background-color: black;
    color: white;
}
h1
{
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding: 30px 10px;
}
.navigation a
{
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
    padding: 0 1.3rem;
}
.navigation a:hover
{
    background-color: mediumpurple;
    border-radius: 40px;
}
.navigation li
{
    display: inline;
    font-size: 20px;
    margin: auto;
    list-style: none;
}

.navegacion img
{
    width: 100px;
    height: 100px;
    display: flex;
    /*padding: 1px;*/
    margin-top: -40px;
    border-radius: 100%;
    bottom: 10px;
}

/*seccion del video de fondo*/
.presentation
{
    height: 720px;
    font-size: 25px;

}
.presentation-video
{
    height: 720px;
    position: absolute;
    top: 210px;
    left: 10px;
    width: 99%;
    z-index: -1;
}
.presentation-video video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dark-overlay
{
    position: absolute;
    top: 210PX;
    left: 10px;
    background-color: rgba(0,0,0,0.5);
    width: 99%;
    height: 720px;
}
.presentation-content
{
    color: white;
    text-align: center;;
    padding: 200px 0;
    margin: auto;
}
/*Seccion de bienvenida*/
.bienvenido
{
    margin-top: 82px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 90px;
    height: 200px;
    background-color: rgb(218, 70, 215);
    border-radius: 20px;
}
.Bienvenido
{
    margin-top: -58px;
    height: 200px;
    color: white;
    font-size: 25px;

}
.bienvenidoH2
{
    font-family:'pacifico',cursive ;
    font-weight:100;
    font-size: 1.1em;
    text-align: center;
    margin: auto;
    padding: 30px 10px;
}
.bienvenidoLorem
{

    font-size: 20px;
    text-align: center;

}

/*seccion de mis rolas favoritas */
.column__title
{
    font-size: 1.3em;
}
.main__about__description .column:nth-child(2)
{
    padding: 10px;
}
.btn
{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background:rgb(218, 70, 215);
    color: white;
    padding: 10px;
    margin: 70px auto;
    border-radius: 20px;
}
.btn:hover
{
    background: rgb(153, 51, 255);
}
.myFavoriteSongs .column
{
    margin-bottom: 30px;
}


.column--50
{
    width: 55%;
}
.column--50 img
{
    display: flex;
    margin-left: 50px;
    max-width: 400px;
    border-radius: 20px;
}
.column--50:nth-child(2)
{
    margin-top: -400px;
    margin-right: 60px;
    padding: 10px;
    float: right;
}
.column--50 .column__title
{
    font-size: 1.3em;
    text-align: center;
}
.column--50 .column__txt
{
    font-size: 1.1em;
    justify-content: center;
    line-height: 1.6;
}
/*mis rolas*/
.songs
{
    margin: 15px 40px 60px;
    float: left;
    width: 250px;
}
.songs img
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.group__title
{
    font-size: 1.8em;
    text-align: center;
    margin: 20px 0;
    font-family:'pacifico',cursive ;
    font-weight:100;
}
.nameSong
{
    font-size: 1.2em;
    margin: 20px 0;
}
.song__artist
{
    font-size: 1.1em;
    margin: 20px 0;
}
.btnSong
{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    background:rgb(218, 70, 215);
    color: white;
    padding: 10px;
    margin: -70px 130px;
    border-radius: 20px;
}
.btnSong:hover
{
    background: rgb(153, 51, 255);
}
/*seccion de formulario*/
.contacto
{
    /*separar*/
    margin-top: 432px;
    height: 470px;
}
.container-form
{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top:150px;
}
.container-form .infoContact
{
    margin-bottom: 15px;
    font-size: 35px;
    font-family: 'pacifico',cursive ;
}
.container-form p
{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a
{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a:hover
{
    color: rgb(153, 51, 255);
}
.container-form a i
{
    color: rgb(153,51,205);
    margin-right: 10px;
}
.container-form form .campo,textarea
{
    width: 100%;
    padding: 15px 10px;
    border:1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
    outline: 0px;
}
.container-form form textarea
{
    max-width: 530px;
    min-width: 530px;
    max-height: 140px;
    min-height: 150px;
}

.container-form .btn-enviar
{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background:rgb(218, 70, 215);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover
{
    background: rgb(153, 51, 255);
}

/*clientes*/
.container-table
{
    width: 90%;
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
}
.table__title
{
    grid-column-start:1 ;
    grid-column-end: 5;
    background: rgba(158, 55, 255, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}

.table__header,.table__item
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(158, 55, 255, 0.5);
}
.table__header
{
    font-weight: bold;
    font-size: 1.4em;
}
.table__item
{
    padding: 10px;
    font-size: 1.2em;
}

/*lenguajes*/
.myLenguages
{
    margin: 430px 20px 10px 20px;
    height: 70px;
}
.Column
{
    width: 45%;
}
.Column--50 img
{
    display: flex;
    margin-left: 50px;
    max-height: 300px;
    border-radius: 20px;
}

.Column--50:nth-child(2)
{
    margin-top: -290px;
    margin-right: 40px;
    padding: 10px;
    float: right;
}
.Column .Column__title
{
    font-size: 1.3em;
    text-align: center;
}
.Column--50 .Column__txt
{
    font-size: 1.1em;
    justify-content: center;
    line-height: 1.6;
}
.myFavoriteLenguajes
{
    height: 50px;
}
.lenguajes
{
    margin: 25px 40px 20px;
    float: left;
    width: 250px;
}
.lenguajes img
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.nameLenguaje
{
    font-size: 1.2em;
    margin: 20px 0;
    text-align: center;
}

.btnLenguaje
{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    background:rgb(218, 70, 215);
    color: white;
    padding: 10px;
    margin: -120px 130px;
    border-radius: 20px;
}
.btnLenguaje:hover
{
    background: rgb(153, 51, 255);
}

/*footer*/
Footer
{
    width: 100%;
    padding: 100px 0px;
    *background-image: url(../Imagenes/background-footer.svg);
    *background-size: cover;
    background-color: rgba(158, 55, 255,0.8);) ;
    -webkit-mask-image: url(../Imagenes/background-footer.svg);
    mask-image: url("../Imagenes/background-footer.svg");
}
.container__footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box__footer
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box__footer .logo img
{
    width: 200px;
    border-radius: 100%;
}
.box__footer p
{
    max-width: 350px;
    color: white;
}

.box__footer h2
{
    color: white;
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: 700;
}
.box__footer a
{
    margin-top: 10px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.box__footer a:hover
{
    opacity: 0.8;
}
.box__footer a .fa-brands
{
    font-size: 20px;
}
.box__copyright
{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p
{
    margin-top: 20px;
    color: white;
}
.box__copyright hr
{
    border: none;
    height: 1px;
    background: white;
}